@import '../../styles/variables.scss';

.main-section {
    display: flex;
    margin-top: 53px;
    align-items: flex-start;


    @media (max-width: ($md1+'px')) {
        flex-direction: column-reverse;
        align-items: center;
    }
}