@import '../../styles/variables.scss';

.char__cards {
    display: grid;
    max-width: 650px;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 25px;
    grid-template-rows: repeat(auto-fit, minmax(318px, 1fr));

    @media (max-width: ($md1+'px')) {
        max-width: 100%;
        margin: 0 auto;
    }
}

.char__card {
    width: 200px;
    min-height: 318px;
    background-color: #232222;
    transition: all .3s ease 0s;
    cursor: pointer;

    &-img {
        max-width: 200px;
        max-height: 200px !important;
        overflow: hidden;
    }

    &--selected {
        transform: translateY(-20px);
        filter: drop-shadow(0px 5px 20px #9F0013);
    }
}

.char__card-title {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;

    color: #FFFFFF;
    margin: 15px 0 0 15px;
}

.db {
    display: block !important;
}

.centered {
    @media (max-width: ($md1+'px')) {
        margin: 0 auto;
    }
}