@import '../../styles/variables.scss';

.random {
    display: flex;

    @media (max-width: ($md2+px)) {
        flex-direction: column;
        margin: 0 5px;
    }
}

.random__char {
    background-color: #ffffff;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
    display: flex;
    padding: 35px 35px 35px 40px;
}

.random__char-img {
    min-width: 180px;
    height: 180px;
    margin-right: 30px;
}

.content-char {
    width: 100%;
    max-width: 265px;

    &__name {
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
        color: #000000;
        margin-bottom: 10px;
    }

    &__descr {
        font-family: 'Roboto Condensed';
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #000000;
        margin-bottom: 24px;
    }
}

.content-char__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 1 1 auto;
}

.content-char__button {

    &:last-child {
        background-color: $gray-color;
    }
}



.random__change {
    flex: 1 1 auto;
    background: #232222;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
    padding: 35px 0 35px 40px;
    position: relative;
}

.random__change-title {
    max-width: 374px;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;

    margin-bottom: 33px;
    color: #FFFFFF;
}

.random__change-descr {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 13px;

    color: #FFFFFF;
}

.random__change-button {
    padding-top: 3px;
    cursor: pointer;
}

.random__change-shield {
    position: absolute;
    bottom: 14px;
    right: 67px;
    width: 100px;
    height: 100px;
}

.random__change-mjolnir {
    position: absolute;
    bottom: 39px;
    right: 0;
    width: 136px;
    height: 136px;
    transform: rotate(-25deg);
}

.message__wrapper-loading {
    width: 200px;
    height: 200px;
}

.message__wrapper-error {
    width: 500px;
    height: 350px;
}

.contain {
    object-fit: contain !important;
}